body {
    font-family: 'Rubik', sans-serif;
    background-color: #F4F6F8;
    color: #2C3E50;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 32px;
    border: 1px solid;
    border-radius: 12px;
    border-color: #F5F9FF;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 24px;
    color: #11175E;
}

#create-todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-task-field,
.input-tag-field {
    flex: 1;
    padding: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    font-size: 1rem;
}
::placeholder{
    color: #B1BACB;
}

.add-task-btn {
    background-color: #2D70FD;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    background-color: #5a8af2;
}

#todo-list{
    padding-left: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 14px 18px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin-bottom: 12px;
    transition: 0.3s ease;
}

.todo-item.done {
    opacity: 0.5;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin-bottom: 12px;
   
}

.todo-item.done .task-name {
     text-decoration: line-through;
}


.task-text-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 0px;
}

.task-name {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 6px;
    color: #2C3E50;
}

.task-meta {
    display: flex;
    gap: 16px;
    font-size: 0.85rem;
    color: #7B8A9B;
}

.task-tag {
    color: #7B8A9B;
    border: 1px solid;
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem;
}

.task-date {
    font-style: italic;
}

.mark-done-btn,
.checked-btn {
    flex-shrink: 1;
    background-color: #2D70FD;
    color: #FFFFFF;
    font-size: 1.2rem;
    border-radius: .4rem;
    border: none;
    padding: .625rem 0.625rem .625rem 0.625rem ;
}

.checked-btn {
    width: 40px;
    height: 40px;
    background-color: #00D8A7;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.checked-btn .icon {
    width: 20px;
    height: 20px;
    color: white;
}

#todo-footer {
    margin-top: 24px;
    text-align: right;
    font-size: 0.95rem;
    color: #B1BACB;
    border-top: 1px solid #EEEEEE;
    
}